body
{
	background: yellow;
}

.boy
{
	background:url("kindpng_2054755.png");
	width: 263px;
    height:342px;
    animation: walk 5s steps(4) infinite,
                 forward 5s linear infinite;

}

@keyframes walk
{
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 1053px;
    }
}

@keyframes forward
{
    0%
    {
        transform: translateX(-100px);
    }
    100%
    {
        transform: translateX(1200px);

    }

}


.panda
{
	background:url("panda_colour.png");
	width: 250px;
    height:350px;
    animation: walk 2s steps(12) infinite,
                 forward 5s linear infinite;

}

@keyframes walk
{
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 3000px;
    }
}

@keyframes forward
{
    0%
    {
        transform: translateX(-100px);
    }
    100%
    {
        transform: translateX(1200px);

    }

}

