@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');
*
{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#fff;

}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 440px;
    height: 480px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    
}
.container .box:hover{
    transform: translateY(-20px);
}
.container .box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(57, 57, 236), rgb(192, 43, 43));

}

.container .box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(57, 57, 236), rgb(192, 43, 43));
    filter: blur(30deg);
}

.container .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    z-index: 2;
    background: rgba(0,0,0,0.6);
    border-radius: 10px; 
}

.inputbox
{
    position: relative;
    z-index: 10;
    width: 450px;   
    justify-content: center;
    text-align: center;
}

.inputbox h2
{
    font-family: 'STIX Two Text', serif;
    font-size: 23px;
    color: #000;
    padding: 20px;
    color: aliceblue;
}
.inputbox input
{
    position: relative;
    width: 80%;
    height: 60px;
    border: none;
    margin:15px 0 35px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #d0b012;
    box-shadow: -4px -4px 10px rgba(255,255,255,1),
                 inset 4px 4px 10px rgba(0,0,0,0.05),
                 inset -4px -4px 10px rgba(255,255,255,1),
                  4px 4px 10px rgba(0,0,0,0.05)
}
.inputbox input::placeholder
{
    letter-spacing: 0px;
}
.inputbox #btn
{
    position: relative;
    cursor: pointer;
    columns: #fff;
    background: rgb(167, 134, 134);
    font-size: 24px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
 
}
.inputbox #btn:active
{
    background: #24b35b;
}